.main {
    background-color: #f8f9fa;
    color: #212529;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}
.css-1d391kg {
    background-color: #343a40;
}
.stButton button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
.stButton button:hover {
    background-color: #6687aa;
}
.stSidebar {
    background-color: #6a869f;
    color: white;
    font-size: 18px;
}

/* Animations */
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

body {
animation: fadeIn 1s ease-in-out;
}